*{
    padding: 0;
    margin: 0;
}

.container{
    background-image: url(/img/gambar.jpg);
    background-repeat: repeat-y;
    background-color: antiquewhite;
    display: flex;
    margin: 30px auto;
    width: 800px;
    padding: 120px;;
}

.container .content{
    background-color: #fff;
    margin-right: 12px;
}